h3{
    color: rgb(105, 103, 103); 
}
.send{
    width:40vw;
}
.output{
    width: 100%;
    color: rgb(105, 103, 103);
}
.output-Status{
    display: flex;
}
.output-tab{
    height: 40px;
    display: flex;
    border-bottom: 1px solid rgb(189, 186, 186);;
}
.output-header-key{
    min-width: 300px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.output-header-value{
    padding-left: 5px;
    display: flex;
    align-items: center; 
}
.error{
    color: red;
}
.success{
    color: rgb(6, 190, 6);
}
.loading{
    width:100%;
}