.request-container{
    display: flex;
    width: 90vw;
    margin-bottom: 8px;
}
.form-select{
    width: auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
.option{

}
.btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.form .form-control{
    width: 100%;
    border-radius: 0;
}
.validation{
    background-color: rgba(255, 0, 0, 0.13);
    border-color: red;
}
.form{
    display: flex;
    width:100vw
}