.tab-container{
    width: 75vw;
}
.form-container{
   max-height: 266px;
    overflow-y: auto;
}
.form-control{
    width: 100%;
}
.key-values{
    display: flex;
    margin-bottom: 5px;
}
.code-mirror{
    border: 2px solid rgb(219, 214, 214);
}


@media (max-width:1250px) {
    .tab-container{
      width: 100%;
    }
    .form-container{
        height: 170px;
    }
  }